out
node_modules
.vscode-test/
artifacts/
coverage/
target/
*.vsix
*.log

/vscode.d.ts

# OpenEdge ABL Extension (vscode-abl/vscode-abl)
.builder

# OpenEdge Files
*.dbg
*.listing
*.out
*.preprocess
*.prof
*.r
*.xref
*.xref.xml
ablunit.json
dbg_*
listings/
prof*.json
profile.options
progress.ini
protrace.*
results.json
results.xml
