* text=auto
*.png binary
*.sh eol=lf
.shellcheckrc eol=lf

*.cls linguist-language=OpenEdge-ABL
*.i linguist-language=OpenEdge-ABL
*.p linguist-language=OpenEdge-ABL
*.w linguist-language=OpenEdge-ABL
