.scannerwork/
.ssh/
.vscode-test/
.vscode-test-docker/
.worktrees/
artifacts/
coverage/
dist/
docker/.rssw/
node_modules/
out/
target/
tmp/
*.bk
*.bk.*
*.log
*.tmp
*.vsix
*.zip

/vscode.d.ts

# OpenEdge ABL Extension (vscode-abl/vscode-abl)
.builder

# OpenEdge Files
docker/ablunit.pl
client.mon
proc.mon
procore.*
*.crc
*.dbg
*.hierarchy
*.inc
*.listing
*.out
*.pl
*.preprocess
*.prof
*.r
*.xref
*.xref.xml
*.warnings
ablunit.json
dbconn.pf
dbg_*
listings/
prof*.json
profile.options
progress.ini
protrace.*
results.json
results.xml
lbia*
rcda*
srta*

# Test files
test_projects/proj2/src/compileError.p

# Generated test files
test_projects/proj7_load_performance/src/procs
test_projects/proj7_load_performance/src/classes

# Dowloaded test files
test_projects/proj7_load_performance/v*.tar.gz
test_projects/proj7_load_performance/src/ADE-*
