out
node_modules
.vscode-test/
artifacts/
target/
*.vsix
*.log

/vscode.d.ts

# OpenEdge ABL Extension (vscode-abl/vscode-abl)
.builder

# OpenEdge Files
*.dbg
*.listing
*.out
*.preprocess
*.prof
*.r
*.xref
*.xref.xml
dbg_*
listings/
prof*.json

results.json
results.xml
