## Keep these files
!images/icon_128.png
!out/extension.js
!snippets-classes.json
!snippets-procedures.json

## Ignore everything else
**/*.js.map
**/*.ts

.circleci/
.git-hooks/
.vscode/
artifacts/
coverage/
docker/
docs/
dummy-ext/
images/
# node_modules/
# src/
test_projects/

.editorconfig
# .eslint.js
.gitattributes
.gitignore
.shellcheckrc
# .vscode-test.js
# .vscode-test.json
# .vscodeignore
# # webpack.config.js
cleanup.sh
# cleanup.sh
# package-lock.json
# package.json
# setup_wsl.sh
# sonar-project.properties
# tsconfig.json
