**/*.js.map
**/*.ts

.circleci/
.git-hooks/
.vscode/
artifacts/
coverage/
docker/
docs/
images/
!images/icon_128.png
node_modules/
sampple/
src/
test_projects/

.gitignore
.vscode-test.js
cleanup.sh
sonar-project.properties
tsconfig.json
webpack.config.js
