{
    "DEFAULT_LOGGER": "OpenEdge",
    "logger": {
        "OpenEdge": {
            "logLevel": "DEBUG",
            "filters": [
                "FULL_TEXT_FORMAT",
                "LOG_MANAGER_WRITER"
                "LOG_MANAGER_FORMAT",
                {
                    "filterName": "LOG_MANAGER_WRITER",
                    "fileName": "",
                    "appendTo": true
                }
            ]
        }
    }
}
