version: 2.1

orbs:
  shellcheck: circleci/shellcheck@3.2.0
  sonarcloud: sonarsource/sonarcloud@2.0.0

parameters:
  vscode-version:
    type: string
    default: 1.84.2

oe-version-param: &oe-version-param
  parameters:
    oe-version:
      type: string
      enum: [ '12.2.12', '12.7.0' ]
      default: '12.2.12'
context-and-filters: &context-and-filters
  context:
    - DockerHub
    - PROGRESS_CFG
    - SonarCloud
    - Azure_PAT
  filters:
    tags: ## all tags starting with 'v' (all branches also included by default)
      only:
        - /^v.*/
store-artifacts: &store-artifacts
  - store_artifacts:
      when: always
      path: artifacts
store-results: &store-results
  - store_test_results:
      when: always
      path: artifacts
persist-to-workspace: &persist-to-workspace
  - persist_to_workspace:
      root: .
      paths:
        - .

executors:
  psc-primary:
    docker:
      - image: kherring/ablunit-test-runner:12.2.12
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_TOKEN

commands:
  setup:
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: npm install
      - run: npm install -g @vscode/vsce || sudo npm install -g @vscode/vsce
  restore-test-cache:
    parameters:
      oe-version:
        type: string
        default: none
    steps:
      - when:
          condition: true
          steps:
            - run: tr ' ' '\n' \<<< "$PROGRESS_CFG_BASE64" | base64 --decode > /psc/dlc/progress.cfg
            - restore_cache:
                keys:
                  - v3-cache-<< parameters.oe-version >>-{{ checksum "package.json" }}

workflows:
  build:
    jobs:
      - shellcheck/check
      - package:
          <<: *context-and-filters
      - test-and-scan:
          <<: *context-and-filters
          matrix:
            parameters:
              oe-version: [ 12.2.12, 12.7.0 ]
          # name: test-and-scan_<< matrix.oe-version >>
          requires: [ 'package' ]
      - install-and-run:
          <<: *context-and-filters
          requires: [ 'package' ]
      - publish:
          filters:
            tags: { only: /^v.*/ }
            branches: { only: main }
          requires:
            - shellcheck/check
            # - test-and-scan_12.2.12
            # - test-and-scan_12.7.0
            - test-and-scan
            - install-and-run

jobs:
  package:
    docker:
      - image: cimg/node:20.8
    steps:f
      - setup
      - run:
          name: vsce package
          command: |
            if [ "$(git branch --show-current)" = "main" ]; then
              vsce package --githubBranch "$CIRCLE_BRANCH" --no-git-tag-version
            else
              vsce package --githubBranch "$CIRCLE_BRANCH" --no-git-tag-version --pre-release
            fi
  test-and-scan:
    <<: *oe-version-param
    docker:
      - image: kherring/ablunit-test-runner:<< parameters.oe-version >>
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_TOKEN
    steps:
      - setup
      - restore-test-cache:
          oe-version: << parameters.oe-version >>
      - run: .circleci/run_test_wrapper.sh
      - <<: *store-results
      - <<: *store-artifacts
      - when:
          condition:
            equal: [ << parameters.oe-version >>, '12.2.12' ]
          steps:
            - sonarcloud/scan:
                cache_version: 3
      - save_cache:
          key: v3-cache-<< parameters.oe-version >>-{{ checksum "package.json" }}
          paths: [ cache ]
  install-and-run:
    <<: *oe-version-param
    executor: psc-primary
    steps:
      - setup
      - restore-test-cache
      - run: scripts/install_and_run.sh
      - <<: *store-results
      - <<: *store-artifacts
  publish:
    docker:
      - image: cimg/node:20.8
    steps:
      - setup
      - run:
          name: vsce publish
          command:
            ## CIRCLE_BRANCH=$(git branch --show-current)
            ## CIRCLE_TAG=$(git describe --tags --abbrev=0)
            if [ ! -f ablunit-test-runner-${CIRCLE_TAG#v}.vsix ]; then
              echo "WARNING: ablunit-test-runner-${CIRCLE_TAG#v}.vsix not found, creating it now..." ## TODO
              vsce package --githubBranch "$CIRCLE_BRANCH" --no-git-tag-version --pre-release
            fi
            vsce publish --pre-release --githubBranch "$CIRCLE_BRANCH" --packagePath ablunit-test-runner-${CIRCLE_TAG#v}.vsix
      - <<: *store-artifacts
