version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@2.0.0

workflows:
  build:
    jobs:
      - test:
          context:
            - DockerHub
            - PROGRESS_CFG
      - package-and-scan:
          requires:
            - test
          context: SonarCloud

jobs:
  test:
    docker:
      - image: kherring/ablunit-test-runner
        auth:
          username: kherring
          password: $DOCKERHUB_TOKEN
    steps:
      - run: tr ' ' '\n' \<<< "$PROGRESS_CFG_BASE64" | base64 --decode > /psc/dlc/progress.cfg
      - checkout
      - run: npm install
      - run: xvfb-run -a npm run test
      - run: '[ -f artifacts/mocha_results.xml ] || exit 1'
      - persist_to_workspace:
          root: .
          paths:
            - artifacts
            - coverage/lcov.info
      - store_artifacts:
          when: always
          path: artifacts/
      - store_test_results:
          when: always
          path: artifacts/mocha_results.xml
  package-and-scan:
    docker:
      - image: cimg/node:20.8.0
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: npm install
      - run: npm install -g @vscode/vsce
      - run: npm run compile
      - run: npx eslint . --ext .ts,.js -f json -o artifacts/eslint_plain_report.json || true
      - run: npx eslint . --ext .ts,.js -f .circleci/sonarqube_formatter.js -o artifacts/eslint_report.json || true
      - run: vsce package
      - run: mkdir -p artifacts && cp ablunit-test-provider-*.vsix artifacts
      - sonarcloud/scan
      - persist_to_workspace:
          root: .
          paths:
            - "*.vsix"
      - store_artifacts:
          path: artifacts
