version: 2.1

orbs:
  shellcheck: circleci/shellcheck@3.2.0
  sonarcloud: sonarsource/sonarcloud@2.0.0

parameters:
  vscode-version:
    type: string
    default: 1.84.2

workflows:
  build:
    jobs:
      - shellcheck/check
      - test-and-scan:
          matrix:
            parameters:
              oe-version: [ '12.2.12', '12.7.0' ]
          name: test-and-scan_<< matrix.oe-version >>
          context:
            - DockerHub
            - PROGRESS_CFG
            - SonarCloud
          filters:
            tags: ## all tags starting with 'v' (all branches also included by default)
              only:
                - /^v.*/
      # - install-and-run:
      #     context:
      #       - DockerHub
      #       - PROGRESS_CFG
      # - package-and-publish:
      #     requires:
      #       - shellcheck/check
      #       - test-and-scan_12.2.12
      #       - test-and-scan_12.7.0
      #       - install-and-run
      #     context:
      #       - Azure_PAT
      #     filters:
      #       tags:
      #         only:
      #           - /^v.*/

jobs:
  test-and-scan:
    parameters:
      oe-version:
        type: string
        enum: [ '12.2.12', '12.7.0' ]
        default: '12.2.12'
      sonar-scan:
        type: boolean
        default: false
    docker:
      - image: kherring/ablunit-test-runner:<< parameters.oe-version >>
        auth:
          username: kherring
          password: $DOCKERHUB_TOKEN
    steps:
      - run: tr ' ' '\n' \<<< "$PROGRESS_CFG_BASE64" | base64 --decode > /psc/dlc/progress.cfg
      - checkout
      # - restore_cache:
      #     keys:
      #       - v1-nodemodules-<< parameters.oe-version >>-{{ checksum "package.json" }}
      #       - v1-nodemodules-<< parameters.oe-version >>-
      # - restore_cache:
      #     keys:
      #       - v1-vscode-test-<< pipeline.parameters.vscode-version >>
      # - run: .circleci/run_test_wrapper.sh
      # - store_test_results:
      #     when: always
      #     path: artifacts
      # - store_artifacts:
      #     when: always
      #     path: artifacts
      - run: echo "parameters.oe-version=<< parameters.oe-version >>"
      - when:
          condition: << parameters.sonar-scan >>
          steps:
            - run: echo "sonar-scan"
      - when:
          condition:
            equals: [ "<< parameters.oe-version >>", "12.2.12" ]
          steps:
            - run: echo "12.2.12"
            - run:
                name: "'<< parameters.oe-version >>'"
                command: |
                  if [ "<< parameters.oe-version >> " = "12.2.12" ]; then
                    echo 100
                  elif [ "<< parameters.oe-version >>" = "12.7.0" ]; then
                    echo 200
                  else
                    echo 300
                  fi
      - when:
          condition:
            equals: [ "<< parameters.oe-version >>", "12.2.12" ]
          steps:
            - run: echo "12.2.12-A"
      - when:
          condition:
            equals: [ '<< parameters.oe-version >>', '12.2.12' ]
          steps:
            - run: echo "12.2.12-B"
      - when:
          condition:
            equal: [ '<< parameters.oe-version >>', '12.2.12' ]
          steps:
            - run: echo "12.2.12-C"
      - when:
          condition:
            equal: [ '<< parameters.oe-version >>', '12.7.0' ]
          steps:
            - run: echo "12.7.0"
      - unless:
          condition: << parameters.oe-version >>
          steps:
            - run: echo "not 12.2.12 or 12.7.0"

      #     steps:
      #       - sonarcloud/scan
      # - run: .circleci/validate.sh
      # - save_cache:
      #     key: v1-nodemodules-<< parameters.oe-version >>-{{ checksum "package.json" }}
      #     paths: [ node_modules ]
      # - save_cache:
      #     key: v1-vscode-test-<< pipeline.parameters.vscode-version >>
      #     paths: [ .vscode-test ]
      # - when:
      #     condition:
      #       equals: [ << parameters.oe-version >>, '12.2.12' ]
      #     steps:
      #       - persist_to_workspace:
      #           root: .
      #           paths: [ . ]
  install-and-run:
    docker:
      - image: kherring/ablunit-test-runner:12.2.12
        auth:
          username: kherring
          password: $DOCKERHUB_TOKEN
    steps:
      - run: tr ' ' '\n' \<<< "$PROGRESS_CFG_BASE64" | base64 --decode > /psc/dlc/progress.cfg
      - checkout
      - restore_cache:
          keys:
            - v1-nodemodules-{{ checksum "package.json" }}
            - v1-nodemodules-
      - run: npm install -g @vscode/vsce
      - run: vsce package --pre-release --githubBranch "$(git branch --show-current)"
      - run: vsce ls
      - restore_cache:
          keys:
            - v1-vscode-test-<< pipeline.parameters.vscode-version >>
      - run:
          name: install and run
          command: |
            test_projects/setup.sh
            cd dummy-ext
            npm run compile
            export DONT_PROMPT_WSL_INSTALL=No_Prompt_please
            xvfb-run -a npm run test:install-and-run
      - store_test_results:
          when: always
          path: artifacts
      - store_artifacts:
          when: always
          path: artifacts
  package-and-publish:
    docker:
      - image: cimg/node:20.8
    steps:
      - checkout
      - run: npm install
      - run: sudo npm install -g @vscode/vsce
      - run: vsce package --pre-release --githubBranch "$(git branch --show-current)"
      - when:
          condition: << pipeline.git.tag >>
          steps:
          - run:
              name: validate version matches tag
              command: |
                if [ "$(jq -r .version package.json)" != "${CIRCLE_TAG#v}" ]; then
                  echo "Version in package.json does not match tag"
                  exit 1
                fi
          - run: vsce publish --pre-release --githubBranch "$(git branch --show-current)" --packagePath ablunit-test-provider-${CIRCLE_TAG#v}.vsix
      - run: mkdir -p artifacts && cp ablunit-test-provider-*.vsix artifacts
      - store_artifacts:
          when: always
          path: artifacts
