version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@2.0.0

workflows:
  build:
    jobs:
      - package-and-scan:
          context: SonarCloud

jobs:
  package-and-scan:
    docker:
      - image: cimg/node:20.8.0
    steps:
      - checkout
      - run: npm install
      - run: npm install -g @vscode/vsce
      - run: npm run compile
      - run: vsce package
      - run: mkdir artifacts && cp ablunit-test-provider-*.vsix artifacts
      - run: npx eslint . --ext .ts,.js -f json -o artifacts/eslint_plain_report.json || true
      - run: npx eslint . --ext .ts,.js -f tools/sonarqube_formatter.js -o artifacts/eslint_report.json || true
      - sonarcloud/scan
      - persist_to_workspace:
          root: .
          paths:
            - "*.vsix"
      - store_artifacts:
          path: artifacts
