name: CI Workflow

permissions:
  contents: write
  pull-requests: write

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event_name == 'pull_request' && github.head_ref || github.ref_name }}
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
        if: matrix.os == 'ubuntu-latest'
        with:
          ignore_paths: ./test_projects/**
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
      - run: ./scripts/package.sh
      - run: ./scripts/bump_version.sh
        env:
          GH_TOKEN: ${{ github.token }}

  test:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        oe-version: [ 12.2.12, 12.8.1, 12.8.9 ]
    runs-on: ubuntu-latest
    container:
      image: kherring/ablunit-test-runner:${{ matrix.oe-version }}
      credentials:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PAT }}
    permissions:
      contents: write
    env:
      ABLUNIT_TEST_RUNNER_OE_VERSION: ${{ matrix.oe-version }}
      ABLUNIT_TEST_RUNNER_VSCODE_VERSION: 'stable'
      EXPECTED_VSIX_COUNT: 1
      GH_TOKEN: ${{ github.token }}
      PRIMARY_OE_VERSION: 12.8.1
      PROGRESS_CFG_BASE64: ${{ secrets.PROGRESS_CFG_BASE64 }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: ./scripts/run_test_wrapper.sh
      - run: ./scripts/sonar_test_results_merge.sh
      - name: SonarQube Scan
        if: ${{ matrix.oe-version == '12.8.1' && github.actor != 'dependabot[bot]' }}
        uses: SonarSource/sonarqube-scan-action@v6.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - uses: actions/upload-artifact@v4
        if: ${{ matrix.oe-version == '12.8.1' }}
        with:
          name: package-artifact
          path: ./ablunit-test-runner*.vsix

  create-release:
    needs: [ 'test' ]
    runs-on: ubuntu-latest
    # if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - uses: actions/checkout@v4
        with:
          depth: 0
          fetch-tags: true
      - uses: actions/download-artifact@v5
        with:
          name: package-artifact
      - name: create release
        run: ./scripts/create_release.sh
